<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <title><%=title %></title>
</head>
<body>
    <div id="wrapper">
        <header>
            <a href="#maincontent" class="skiplink button">G책 till huvudinneh책ll</a>
            <h1>Backend-baserad webbutveckling - DT207G</h1>
            <p>Moment 1</p>
        </header>
        <nav>
            <ul>
                <li class="current"><a href="/">Startsida</a></li>
                <li><a href="/about">Om sidan</a></li>
                <li><a href="/addcourse">L채gg till kurs</a></li>
            </ul>
        </nav>
        <main id="maincontent">
            <h2>V채lkommen!</h2>
            <p><%= message %></p>

            <table>
                <thead>
                    <tr>
                        <th>Kurskod:</th>
                        <th>Kursnamn:</th>
                        <th>Progression:</th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach((course) => { %>
                        <tr>
                            <td><a href="<%= course.syllabus %>"><%= course.coursecode %></a></td>
                            <td><%= course.coursename %></td>
                            <td class="progression"><%= course.progression %></td>
                        </tr>    
                    <% }); %>
                </tbody>
            </table>
        </main>
        <footer>
            <p>Webbplats skapad som en del av <a
                    href="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT207G">Backend-baserad
                    webbutveckling</a> av <a href="mailto:lier2209@student.miun.se">Linn Eriksson</a>.</p>
        </footer>
    </div>
</body>
</html>